* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold {
    font-weight: 900;
}

.imgDataBase, .imgHouse, .imgSend, .imgTag {
    position: relative;
    top: -30%;
}

.bi-database::before {
    content: "\f8c4";
    font-size: 50px;
}

.bi-house-door::before {
    content: "\f70d";
    font-size: 50px;
}

.bi-tag::before {
    content: "\f5b0";
    font-size: 50px;
    rotate: 135deg;
}

.bi-send::before {
    content: "\f2e3";
    font-size: 50px;
}

.active {
    background-color: rgb(195, 93, 127);
    padding: 10px 0px 10px;
}

.rotate-card {
    width: 10%;
    rotate: -90deg;
    margin-left: 48px;
}

.bi-bar-chart::before {
    content: "\f17e";
    font-size: 100px;
}

.firstGrapgGreen, .secondGraphOrange, .thirdGraphBlue, .graphOrange1 {
    position: relative;
    top: -66px;
}

.graphBlue2 {
    position: relative;
    top: -66px;
}


/* Выберем чекбокс и изменим его цвет */
.form-check-input[type="checkbox"]:checked {
    background-color: rgb(233, 237, 231);
  }

  .form-check-input[type="checkbox"]:checked + .form-check-label::before {
    content: '\2713'; /* Символ галочки */
    color: black; /* Черный цвет галочки */
    position: relative;
    right: 30px;
  }

  @media (max-width: 767px) {
    .form-check-input[type="checkbox"]:checked + .form-check-label::before {
        content: '\2713'; /* Символ галочки */
        color: black; /* Черный цвет галочки */
        position: relative;
        right: 25px;
      }
  }

  @media (max-width: 468px) {
    .form-check-input[type="checkbox"]:checked + .form-check-label::before {
        content: '\2713'; /* Символ галочки */
        color: black; /* Черный цвет галочки */
        position: relative;
        right: 22px;
      }
  }


  @media (max-width: 1468px) {
    .form-check-input[type="checkbox"]:checked + .form-check-label::before {
        content: '\2713'; /* Символ галочки */
        color: black; /* Черный цвет галочки */
        position: relative;
        right: 22px;
      }
  }



